@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 197 88.2% 56.9%;
    --primary-foreground: 197 85% 95%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 127 41% 49%;

    --progress: 213 86% 60%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 197 88.2% 56.9%;

    --radius: 0.5rem;

    /* mux video player variables */
    --seek-backward-button: none;
    --seek-forward-button: none;

    --chart-1: 157 58% 41%;
    --chart-2: 43 91% 61%;
    --chart-3: 10 74% 60%;
    --chart-4: 0 0% 50%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 5.88% 10%;
    --foreground: 0 0% 98%;

    --card: 240 5.88% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 26.3%;
    --popover-foreground: 0 0% 98%;

    --primary: 197 88.2% 56.9%;
    --primary-foreground: 197 85% 95%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 240 10% 3.9%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 127 41% 49%;

    --progress: 213 86% 60%;

    --border: 240 6% 26.3%;
    --input: 240 6% 26.3%;
    --ring: 197 88.2% 56.9%;

    --radius: 0.5rem;

    --chart-1: 157 58% 41%;
    --chart-2: 43 91% 61%;
    --chart-3: 10 74% 60%;
    --chart-4: 0 0% 50%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply outline-primary;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
