.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.rbc-month-row,
.rbc-header,
.rbc-time-view {
  border: 1px solid hsl(var(--border)) !important;
}

.rbc-month-view {
  border: 0px !important;
}

.rbc-day-bg,
.rbc-time-header-content {
  border-left: 1px solid hsl(var(--border)) !important;
}

.rbc-events-container {
  border-left: 1px solid hsl(var(--border)) !important;
}
.rbc-time-content,
.rbc-day-slot,
.rbc-time-slot {
  border-top: 1px solid hsl(var(--border)) !important;
}

.event-style {
  background-color: #e7f7fd;
  border-radius: 4px;
  color: hsl(var(--primary));
  font-size: 12px;
}

.dark .event-style {
  background-color: hsl(var(--primary));
  color: #e7f7fd;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid hsl(var(--border)) !important;
}
.rbc-timeslot-group {
  border-bottom: 1px solid hsl(var(--border)) !important;
}

.event-style {
  background-color: #e7f7fd;
  border-radius: 4px;
  color: hsl(var(--primary));
  font-size: 12px;
}

.event-holiday {
  background-color: #d4edda;
  color: hsl(var(--success));
  border-radius: 4px;
  font-size: 12px;
}

.event-non-holiday {
  background-color: #e7f7fd;
  color: hsl(var(--primary));
  border-radius: 4px;
  font-size: 12px;
}

.dark .event-holiday {
  background-color: hsl(var(--success));
  color: #d4edda;
}

.dark .event-non-holiday {
  background-color: hsl(var(--primary));
  color: #e7f7fd;
}

.calendar-height {
  height: 420px;
}

@media (max-width: 640px) {
  .calendar-height {
    height: 470px;
  }
}
@media (max-width: 640px) {
  .rbc-header {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .rbc-header {
    font-size: 10px;
  }
}

.event-birthday {
  background-color: hsl(var(--transparent));
  color: #f9a602;
  border-radius: 4px;
  font-size: 12px;
  width: fit-content;
  display: flex;
  padding-right: 0px;
  margin-left: auto;
}

.dark .event-birthday {
  background-color: #f9a602;
  color: #fff;
}
.event-anniversary {
  background-color: hsl(var(--transparent));
  color: #f43f5e;
  border-radius: 4px;
  font-size: 12px;
  padding-right: 0px;
  width: fit-content;
  margin-left: auto;
}

.dark .event-anniversary {
  background-color: #f43f5e;
  color: #ffe4e6;
}
