.description-content {
  font-size: 0.875rem;
  line-height: 1.5;
}

.description-content ul,
.description-content ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.description-content ul li,
.description-content ol li {
  margin-bottom: 0.5rem;
}

.description-content a {
  color: blue;
  text-decoration: underline;
}

.description-content b,
.description-content strong {
  font-weight: bold;
}

.description-content i,
.description-content em {
  font-style: italic;
}

.description-content u {
  text-decoration: underline;
}

.description-content .ql-align-right {
  text-align: right;
}

.description-content .ql-align-center {
  text-align: center;
}

.description-content .ql-align-left {
  text-align: left;
}

.description-content .ql-align-justify {
  text-align: justify;
}
.description-content h1 {
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold;
  margin-bottom: 1rem;
}

.description-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description-content h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.description-content h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description-content h6 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
